{% extends 'agendanutri/base.html' %}

{% block content %}

        <main class="lista_pacientes">             
            <h2>Nome: {{ dados_do_paciente.nome }}</h2>
            <p>CPF: {{ dados_do_paciente.cpf }}</p>  
            <p>SEXO: {{ dados_do_paciente.sexo }}</p> 
            <p>ENDEREÇO: {{ dados_do_paciente.endereco }}</p> 
            <p>PESO: {{ dados_do_paciente.peso }}</p> 
            <p>ALTURA: {{ dados_do_paciente.altura }}</p>          
        </main>
        <div>
            <h6>Editar Paciente</h6>
            <a class="btn btn-secondary" href="{% url 'editar_pacientes' pk=dados_do_paciente.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
            <br> 
            <h6>Apagar Paciente</h6>
            <a class="btn btn-secondary" href="{% url 'paciente_deletado'  pk=dados_do_paciente.pk %}">
                {% include './icons/svg-lixeira.svg' %}
            </a>
        </div>
{% endblock %}