{% extends 'agendanutri/base.html' %}

{% block content %}


        <main>
            <div>
                <h1> Seja Bem vindo ao AppNutri</h1>
                <h4>
                    Cadastro realizado com sucesso!
                    <a href="{% url 'marcar_consulta' %}"> Marque sua consulta Aqui!</a>
                </h4>
            </div>
            <br>
            <div>
                <h4>
                    Voltar para página Inicial! 👉 <a href="{% url 'index' %}"> Clique Aqui!</a>
                </h4>
            </div>
        </main>


    {% endblock %}