h1, a{
    font-family: 'Lobster';
    color: #c51d90;
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

h2 {
    color: #622c9b;
}

p {
    color:#1b1b1c; 
}

.lista_pacientes h3, a {
    color: #1b1b1c;
}

.page-header {
    background-color: #73da0b;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

/* marcar_consulta */
.messages {
    color:#bd1010;
    font-size: 24px;
    font-weight: 500;
}