h1, a, h2 {
    font-family: 'Lobster';
    color: #c51d90;
}

p {
    color:#7721df; 
}

time {
    color: #3a3837;
}

.page-header {
    background-color: #73da0b;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

